<% provide(:title, 'Contact Us')%>
<h1>Contact Us</h1>
<p>
  This is the Blank Contact Page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. Anything can be put here. Like, for example,
  how to contact us. 
</p>