<% provide(:title, 'Contact Us')%>
<h1>Contact Us</h1>
<p>
  This is the Contact Page for the sample application.
   Anything can be put here. Like, for example, how to contact us.
   It would be awesome to have a location request for the next 
   hub of musicians to network for here here. 
</p>
